{% extends "base.html" %}
{% load static %}
{% block my_title %}{{ page_title }}{% endblock %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/content/content_of_tasks.css' %}">

{% endblock %}






{% block content %}
    <div class="void">
    <div class="tasks_content">
        <div class="inner-tasks_content">
            {% for tasks in tasks_list %}
                <div class="one-task">
                    <div class="inner-one-task">
                        <div class="task_id">&nbsp;&nbsp;#{{ tasks.id }}</div> <div class="task_type">Задание {{ tasks.type }}</div>
                        <div class="task_author">Автор: {% for author in tasks.author.all %}
                                                            {{ author.name }}
                                                        {% endfor %}</div><br>
                        <!--Image if it exist-->
                        {% if tasks.image %}<img src="{{ tasks.image.url }}" alt="" style="max-height: 300px">{% endif %}
                        <p class="inner-content-task-text">&nbsp;&nbsp;&nbsp;&nbsp;{{ tasks.text }}</p>
                        <!--Answer and button for it-->
                        <div class="answer-button">&nbsp;Посмотреть решение&nbsp;</div>
                        <div class="inner-content-task-answer">
                            {% if tasks.ful_answer %}<p class="inner-content-task-answer-full">&nbsp;&nbsp;&nbsp;&nbsp;{{ tasks.ful_answer }}</p>{% endif %}
                            {% if tasks.answer %}<p class="inner-content-task-answer-small">&nbsp;&nbsp;&nbsp;&nbsp;{{ tasks.answer }}</p>{% endif %}
                        </div>
                        <div class="task_date">&nbsp;&nbsp;{{ tasks.date.date }}</div>
                        <br><br>
                    </div>
                </div>
            {% endfor %}
            <script>OpenAnswer()</script>
        </div>
    </div>
    </div>
{% endblock %}